*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #CEDFE3;
    color: #285963;
    padding: 20px 0;
    text-align: center;
    display: flex;
    align-items: center;
    max-width: auto;
    font-family: Inter;
    font-size: large;
    font-style: bold;
}

header img {
    width: 70px;
    height: auto;
}

header h1 {
    margin: 20px;
}
section {
    background-color: #458D9E;
    padding: 10px;
    border-radius: 8px;
    max-width: 60rem;
    margin: 25px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #F9F6F6;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

section p {
    color: #F9F6F6;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

label {
    font-family: 'Inter', sans-serif;
    margin-bottom: 5px;
    color: #F9F6F6;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #F9F6F6;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

button {
    padding: 10px;
    background-color: #285963;
    color: #DCEEF2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

button:hover {
    background-color: #1E4A50;
    transition: background-color 0.6s ease;
}

/* CSS LOGIN */
.ssite {
    text-align: left;
    margin: 20px 0;
    color: #285963;
    background-color: #163A3E;
    padding: 20px;
    border-radius: 8px;
    max-width: 20rem;
}


.login-container {
    background-color: #285963;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    color: #F9F6F6;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.login-container .form-group {
    margin-bottom: 15px;
}

.login-container label {
    font-family: 'Inter', sans-serif;
    color: #F9F6F6;
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #F9F6F6;
    font-family: 'Inter', sans-serif;
}

.login-container button {
    width: 100%;
    background-color: #1E4A50;
    color: #DCEEF2;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
}

.login-container button:hover {
    background-color: #163A3E;
    transition: background-color 0.6s ease;
}